@model BrowseViewModel

@{
    ViewData["Title"] = "Help Requests - Views";
}

<h1>Views: Help Requests</h1>
<h5>Choose the desired view...</h5>

<div>
    <br />
    <h6><b>Help Requests - Student</b></h6>
    <form asp-action="GetForStudent" method="get">
        <div class="form-group">
            <label class="control-label">Au-Id:</label>
            <select name="studentAuId" class="form-control col-md-6" asp-items="Model.StudentIdList"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>

    <br />
    <h6><b>Help Requests - Teacher, Course</b></h6>
    <form asp-action="GetForTeacherCourse" method="get">
        <div class="form-group">
            <label class="control-label">Au-Id:</label>
            <select name="teacherAuId" class="form-control col-md-6" asp-items="Model.TeacherIdList"></select>
        </div>
        <div class="form-group">
            <label class="control-label">Course-Tag:</label>
            <select name="courseId" class="form-control col-md-6" asp-items="Model.CourseIdList"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>
    <br />
    <h6><b>Help Request Statistics - All Courses</b></h6>
    <form asp-action="Statistics" method="get">
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>
</div>





