@model StudentViewModel

@{
    ViewData["Title"] = "Student";
}

<h1>Student</h1>

<h4>Student</h4>
<hr />
<form asp-action="Student" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Student.AuId" class="control-label"></label>
                <input asp-for="Student.AuId" class="form-control" />
                <span asp-validation-for="Student.AuId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Firstname" class="control-label"></label>
                <input asp-for="Student.Firstname" class="form-control" />
                <span asp-validation-for="Student.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Lastname" class="control-label"></label>
                <input asp-for="Student.Lastname" class="form-control" />
                <span asp-validation-for="Student.Lastname" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">v
            <div class="form-group">
                <label asp-for="Semester" class="control-label"></label>
                <input asp-for="Semester" class="form-control" />
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
            @for (int i = 0; i < Model.Courses.Count; i++)
            {
                <div class="form-group">
                    <input class="form-control" type="hidden" asp-for="Courses[i].CourseTag" />
                </div>
                <div class="form-group">
                    <label class="form-control" asp-for="Courses[i].IsSignedUp">@Model.Courses[i].CourseTag</label>
                    <input class="form-control" type="checkbox" asp-for="Courses[i].IsSignedUp" />
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>







